<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<title>KC TOILETS</title>
    </head>
    <body>
        <div id="toilet" class="container">
            <p class="h1 text-center">TOILETTES PUBLIQUES NANTES</p>
            <div class="d-flex justify-content-center">
                <iframe src="https://data.nantesmetropole.fr/explore/embed/dataset/244400404_toilettes-publiques-nantes-metropole/map/?disjunctive.pole&disjunctive.commune&location=11,47.26199,-1.57516&basemap=jawg.streets&static=false&datasetcard=false&scrollWheelZoom=false" width="400" height="300" frameborder="0" style="margin: 20px;"></iframe>
            </div>
            <input class="form-control" type="text" v-model="search" @input="searchToilet()" placeholder="Rechercher un nom, un pole ou un code postal">
            <table class="table table-striped table-hover">
                <thead>
                    <th>NOM</th>
                    <th>POLE</th>
                    <th>COMMUNE</th>
                    <th>MAP</th>
                </thead>
                <tr v-for="toilet in result" class="align-middle">
                    <td>{{toilet.nom}}</td>
                    <td>{{toilet.pole}}</td>
                    <td>{{toilet.commune}}</td>
                    <td><iframe
                        width="300"
                        height="170"
                        frameborder="0"
                        marginheight="0"
                        marginwidth="0"
                        :src="`https://maps.google.com/maps?q=${toilet.geo_shape.geometry.coordinates[1]},${toilet.geo_shape.geometry.coordinates[0]}&hl=fr&z=14&amp;output=embed`"
                >
                </iframe></td>
                </tr>
            </table>
        </div>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue@3"></script>
        <script>
            const apiURL = "https://data.nantesmetropole.fr/api/explore/v2.1/catalog/datasets/244400404_toilettes-publiques-nantes-metropole/records?limit=65";
            const config = {};

            Vue.createApp({
                data() {
                    return {
                        search: '',
                        commits: [],
                        result: []
                    }
                },

                created: function () {
					this.fetchDataPromise();
				},

                methods: {
                    fetchDataPromise: async function () {
                        try {
                            const response = await axios.get(apiURL);
                            this.commits = response.data.results;
                            this.result = this.commits
                        } catch (error) {
							console.error(error);
                        }
					},

                    searchToilet: function () {
                        this.result = this.commits.filter(item => {
                            return item.nom.toLowerCase().includes(this.search.toLowerCase())
                        })
                    }
                },
            }).mount("#toilet");
        </script>
    </body>
</html>